<div class="hero">
    <div class="hero-interaction">
        <article class="hero-text">
            <header>
                <h2>Over Shein</h2>
            </header>
            <p class="description-text">Schrijf je nu in en krijg 30% korting op je eerste bestelling.</p>
        </article>
        <div class="hero-buttons">
            <a href="/informatie" class="link">
                Meer informatie
            </a>
            <button class="btn btn-register">Registreer</button>
        </div>
    </div>
    <div class="clothes-thumbnail-holder">
        <img src="../../assets/images/clothes-thumbnail.png" alt="Clothes thumbnail" class="clothes-thumbnail" />
    </div>
</div>