<section class="hero">
    <section class="hero-interaction">
        <ng-article 
            title="Over Shein" 
            description="Schrijf je nu en krijg 30% korting op je eerste bestelling." 
            classes="hero-text"
        ></ng-article>
        <section class="hero-buttons">
            <a href="/informatie" class="link">
                Meer informatie
            </a>
            <button class="btn btn-register">Registreer</button>
        </section>
    </section>
    <div class="clothes-thumbnail-holder">
        <img src="../../assets/images/clothes-thumbnail.png" alt="Clothes thumbnail" class="clothes-thumbnail" />
    </div>
</section>