@import '../../app.component.scss';

.hero {
    display: flex;
    align-items: center;
    margin: 2em 0;

    .hero-interaction {
        width: 50%;

        .hero-text {
            display: flex;
            flex-direction: column;
            margin-bottom: 3em;

            > * {
                margin: 0.5em 0;
            }
        }
    }

    .clothes-thumbnail-holder {
        width: 50%;
        justify-content: right;
    
        .clothes-thumbnail {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .hero {
        flex-direction: column;
        align-items: center;

        .hero-interaction {
            width: 100%;
            margin-bottom: 3em;
        }

        .clothes-thumbnail-holder {
            width: 100%;
        }
    }
}