@import '../../app.component.scss';

.category-shop {
    margin: 10em 0;
    display: flex;
    flex-direction: column;
    place-items: flex-end;

    ng-article {
        text-align: center;
        font-size: $--fs-large;
    }

    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;

        .category {
            width: 240px;
            height: 350px;
            cursor: pointer;
            box-shadow: $--shadow-default;
            border-radius: $--border-radius-small;
            background-color: $--color-secondary;

            &:hover {
                opacity: 80%;
            }

            .shop-text {
                font-size: $--fs-small;
                margin: 1em;
                height: 156px;
                justify-content: center;
                flex-direction: column;
                display: flex;
                gap: 1em;
            }

            .shop-btn {
                display: flex;
                justify-content: right;

                button {
                    padding: 0.5em 1em;
                    border: none;
                    background: $--gradient-default;
                    color: $--color-secondary;
                    border-top-left-radius: $--border-radius-medium;
                    border-bottom-right-radius: $--border-radius-small;
                }
            }

            img {
                width: 240px;
                height: auto;
                object-fit: cover;
                border-top-right-radius: $--border-radius-small;
                border-top-left-radius: $--border-radius-small;
                border-bottom-right-radius: $--border-radius-large;
            }
        }
    }
}