<app-header></app-header>
<section class="app">
    <app-hero></app-hero>
    <app-social-media></app-social-media>
    <app-category-shop></app-category-shop>
    <app-qna></app-qna>
    <app-reviews></app-reviews>
    <section class="background-details">
        <div class="background-sphere"></div>
        <div class="background-sphere"></div>
        <div class="background-sphere"></div>
        <div class="background-sphere"></div>
        <div class="background-sphere"></div>
        <section class="background-image category-img"><img src="./assets/images/shop_illustration_1.png" alt="Shop" /></section>
        <section class="background-image qna-img"><img src="./assets/images/shop_illustration_1.png" alt="Shop" /></section>
        <section class="footer-sphere"><div class="colored-sphere"></div></section>
    </section>
    <app-advertisement-section></app-advertisement-section> 
</section>
<app-chat></app-chat>
<app-footer></app-footer>