@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

$--color-selected: #436BF5;
$--color-text: #000;
$--color-primary: #000;
$--color-secondary: #fff;
$--color-gray: #979797;
$--color-gray-light: #e2e2e2;

$--border-default: 1px solid #e7e4e4;
$--gradient-default: linear-gradient(180deg, #FF0505 0%, #D65A5A 100%);
$--shadow-default: 0px 4px 4px $--color-gray;

$--border-radius-large: 40px;
$--border-radius-medium: 20px;
$--border-radius-small: 10px;

$--fs-large: 1.5em;
$--fs-medium: 1em;
$--fs-small: 0.9em;

$--fw-bold: 700;

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    a {
        text-decoration: none;
        cursor: default;
        color: $--color-text;
    }

    .link {
        color: $--color-selected;
        cursor: pointer;
    }

    .description-text {
        color: $--color-gray;
        font-weight: normal;
    }

    .btn {
        color: $--color-secondary !important;
        padding: 0.5em 2em;
        border-radius: $--border-radius-large;
        cursor: pointer;
        box-shadow: $--shadow-default;
        border: none;

        &.btn-register {
            background: $--gradient-default;
        }
    }

    .line {
        border-right: $--border-default;
        height: 28px;
    }
}

.app {
    margin: 0px 5em;
}

@media only screen and (max-width: 600px) {
    .app {
        margin: 0px 15px;
    }
}

@keyframes dance {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    10% {
        transform: translate(0, 2px);
    }
    20% {
        transform: translate(0, 3px);
    }
    30% {
        transform: translate(0, 2px);
        opacity: 0.8;
    }
    40% {
        transform: translate(0, 1px);
    }
    50% {
        transform: translate(0, 0);
        opacity: 0.5;
    }
    60% {
        transform: translate(0, -1px);
    }
    70% {
        transform: translate(0, -2px);
    }
    80% {
        transform: translate(0, -3px);
        opacity: 0.3;
    }
    90% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, -1px);
        opacity: 0.5;
    }
}