<section class="reviews">
    <ng-article
        title="Reviews"
        classes="review-header"
        description="Dit vinden anderen van onze service."
    ></ng-article>
    <section class="reviews-holder">
        <section class="review" *ngFor="let review of reviews">
            <header>
                <img [src]="review.getReviewerAvatar()" [alt]="review.reviewer.name" />
                <div class="review-info">
                    <h3>{{ review.reviewer.name }}</h3>
                </div>
            </header>
            <section class="review-body">
                <p class="review-text">{{ review.text }}</p>
                <footer>
                    <section class="stars">
                        <span *ngFor="let star of review.getRatingStars()" [class]="star.filled ? 'yellow' : ''">★</span>
                    </section>
                    <button>
                        Lees meer
                    </button>
                </footer>
            </section>
        </section>
    </section>
</section>