<section class="reviews">
    <ng-article
        title="Reviews"
        classes="review-header"
        description="Dit vinden anderen van onze service."
    ></ng-article>
    <section class="reviews-holder">
        <section class="review">
            <header>
                <img src="../../assets/images/zepart.png" alt="review" />
                <div class="review-info">
                    <h3>Patrick Zepart</h3>
                </div>
            </header>
            <section class="review-body">
                <p>De kleding die ik heb besteld ging na 5 dagen al kapot en...</p>
                <footer>
                    <img src="../../assets/images/icons/star.svg" alt="star" />
                    <img src="../../assets/images/icons/yellow-star.svg" alt="star" />
                </footer>
            </section>
        </section>
    </section>
</section>