<nav class="header">
    <a href="/" class="logo">
        <img src="../../assets/images/logo.png" alt="Logo" />
        <h1>Shein</h1>
    </a>
    <div class="menu-items">
        <div class="menu-item">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="menu-item">
            <a routerLink="/women">Dames</a>
        </div>
        <div class="menu-item">
            <a routerLink="/men">Heren</a>
        </div>
        <div class="menu-item">
            <a routerLink="/kids">Kinderen</a>
        </div>
        <div class="menu-item">
            <a routerLink="/other">Overige</a>
        </div>
    </div>  
    <div class="actions">
        <div>
            <a routerLink="/login" class="login">Login</a>
        </div>
        <div class="btn btn-register">
            Registreer
        </div>
        <span class="line"></span>
        <div class="icons">
            <span>
                <img src="../../assets/images/icons/account.svg" alt="Account" class="icon" />
            </span>
            <span>
                <img src="../../assets/images/icons/cart.svg" alt="Cart" class="icon" />
            </span>
        </div>
    </div>
</nav>