@import '../../app.component.scss';

.social-media-holder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;

    .list-item {
        width: 25%;

        .social-media {
            padding: 0.5em;
            border-left: $--border-default;
            cursor: pointer;

            &.active {
                h3 {
                    color: $--color-selected;
                }
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                        line-clamp: 2; 
                -webkit-box-orient: vertical;
            }
        }

        .horizontal-line {
            margin-left: 5%;
            border-radius: $--border-radius-small;
            display: block;
            width: 50%;
            height: 6px;
            background-color: $--color-selected;
        }
    }
}

.video-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    
    .video-header {
        width: 30%;
        border-bottom: $--border-default;
        padding-bottom: 1em;
    }

    .video-body {
        width: 100%;
        height: 100%;
        margin-top: 2em;
        display: flex;
        gap: 1em;
        justify-content: space-around;

        .video {
            background: $--gradient-default;
            padding: 0.5em;
            border-radius: $--border-radius-small;

            video {
                width: 320px;
                height: 240px;
            }

            img {
                width: 160px;
                height: 240px;
            }

            .caption {
                background-color: $--color-secundary;
                border-radius: $--border-radius-small;
                padding: 0.5em;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .video-body {
        flex-direction: column;
        align-items: center;

        .video {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .social-media-holder .list-item {
        width: 50%;
    }

    article.video-header {
        width: 80% !important;
    }

    .video {
        video {
            width: 220px !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .social-media-holder {
        flex-direction: column;
        align-items: center;

        .list-item {
            width: 100%;
        }
    }

    .video-body .video {
        width: 100% !important;
    }

    article.video-header {
        width: 100% !important;
    }
}
