<section class="social-media-holder">
    <div class="list-item" *ngFor="let media of socialMedia">
        <article class="social-media {{ activeSocialMedia.company == media.company ? 'active' : ''}}" (click)="selectSocialMedia(media.company)">
            <header>
                <h3>{{ media.company }}</h3>
            </header>
            <p class="description-text">{{ media.description }}</p>
        </article>
        <span *ngIf="activeSocialMedia.company == media.company" class="horizontal-line"></span>
    </div>
</section>
<section class="video-holder">
    <article class="video-header">
        <header>
            <h3>{{ activeSocialMedia.company }}</h3>
        </header>
        <p class="description-text">{{ activeSocialMedia.description }}</p>
    </article>
    <section class="video-body">
        <div class="video" *ngFor="let i of [1,2,3,4]">
            <video width="320" height="240" controls>
                <source src="../../assets/videos/download.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <section class="caption">
                Baddie Haul Alert 🚨 Which look was your vibe? 👇
            </section>
        </div>
    </section>
</section>