<section class="social-media-holder">
    <div class="list-item" *ngFor="let media of socialMedia">
        <article class="social-media {{ activeSocialMedia.company == media.company ? 'active' : ''}}" (click)="selectSocialMedia(media.company)">
            <header>
                <h3>{{ media.company }}</h3>
            </header>
            <p class="description-text">{{ media.description }}</p>
        </article>
        <span *ngIf="activeSocialMedia.company == media.company" class="horizontal-line"></span>
    </div>
</section>
<section class="video-holder">
    <article class="video-header">
        <header>
            <h3>{{ activeSocialMedia.company }}</h3>
        </header>
        <p class="description-text">{{ activeSocialMedia.description }}</p>
    </article>
    <section class="video-body">
        <div class="video" *ngFor="let video of activeVideos">
            <video *ngIf="video.isVideo" controls>
                <source [src]="video.FullUrl" [type]="video.Type">
                Your browser does not support the video tag.
            </video>
            <img *ngIf="!video.isVideo" [src]="video.FullUrl" [alt]="video.Name" />
            <section class="caption">
                {{ video.Caption }}
            </section>
        </div>
        <section *ngIf="activeVideos.length == 0">
            <p class="description-text">There were no videos found for {{ activeSocialMedia.company }}.</p>
        </section>
    </section>
</section>