<section class="social-media-holder">
    <div class="list-item">
        <article class="social-media active" (click)="selectSocialMedia('Tiktok')">
            <header>
                <h3>Tiktok</h3>
            </header>
            <p class="description-text">Op onze Tiktok pagina staan leuke advertenties en...</p>
        </article>
        <span class="horizontal-line"></span>
    </div>

    <div class="list-item">
        <article class="social-media" (click)="selectSocialMedia('Instagram')">
            <header>
                <h3>Instagram</h3>
            </header>
            <p class="description-text">Op onze Instagram pagina staan leuke advertenties en...</p>
        </article>
    </div>

    <div class="list-item">
        <article class="social-media" (click)="selectSocialMedia('Facebook')">
            <header>
                <h3>Facebook</h3>
            </header>
            <p class="description-text">Op onze Facebook pagina staan leuke advertenties en...</p>
        </article>
    </div>
</section>